
{% extends "base.html.twig" %}


    {% block content %}


        {{ form_start(ticket) }}

        {{ form_row(ticket.dateVisite) }}<br/>

        {{ form_row(ticket.demijournee) }}<br/>

        {{ form_row(ticket.nbTicket) }}<br/>

        {{ form_row(ticket.mail) }}<br/>

        <button type="submit" class="btn btn-success"> Valider </button>

        {{ form_end(ticket) }}<br/>


    {% endblock %}