{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div id="main">

	<!-- Intro -->
		<article id="intro">
			<h2 class="major">{{ title }}</h2>
			<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
			<section>
				<h3 class="major">Horaires</h3>
					<div class="table-wrapper">
						<table>
							<tbody>
								<tr>
									<td>Lundi</td>
									<td>{{ ouverture }}h - {{ fermeture }}h</td>
								</tr>
								<tr>
									<td>Mardi</td>
									<td>Fermé</td>
								</tr>
								<tr>
									<td>Mercredi</td>
									<td>{{ ouverture }}h - {{ fermeture }}h</td>
								</tr>
								<tr>
									<td>Jeudi</td>
									<td>{{ ouverture }}h - {{ fermeture }}h</td>
								</tr>
								<tr>
									<td>Vendredi</td>
									<td>{{ ouverture }}h - {{ fermeture }}h</td>
								</tr>
								<tr>
									<td>Samedi</td>
									<td>{{ ouverture }}h - {{ fermeture }}h</td>
								</tr>	
								<tr>
									<td>Dimanche</td>
									<td>{{ ouverture }}h - {{ fermeture }}h</td>
								</tr>		
							</tbody>
						</table>
					</div>					
		</article>				
{% endblock %}